.trip-list {
	width: 480px;
	margin: 60px auto;
}

.trip-list ul {
	padding: 0;
}
.trip-list li {
	border: 1px solid #e4e4e4;
	box-sizing: border-box;
	padding: 10px;
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.05);
	list-style-type: none;
	margin: 2px 0;
}

.filters {
	padding: 5px;
	margin: 10px;
	flex-grow: 1;
	background-color: #e4e4e4;
}

button {
	padding: 10px;
	margin: 10px;
	flex-grow: 1;
	background-color: gray;
	color: white;
	border: none;
}
